html{
    scroll-behavior: smooth;
}
/* HEADER */
header{
    background: linear-gradient(50deg, #000000aa,#080707aa),
    url("../../img/Bg21.jpg")center/cover;
    height: 100vh;
    background-attachment: fixed;
}
/* POSITION CONTENT */
.header-bg-color{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    background-color: #292929;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
}
/* CONTAINER */
.container{
    width: 1140px;
    margin: 0 auto;
}
/* NAVBAR */
#all-navbar, #all, #all-1, .link, #all-2, #all-3, #all-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 650px;
}
nav a, .dropdown a{
    font: 500 16px arial;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: .4s;
}
nav a:hover{
    color: #31dc89;
}
.dropdown-content{
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    transition: .4s;
    opacity: 0;
    pointer-events: none;
}
.dropdown{
    display: none;
}
.dropdown-content a{
    display: inline-block;
    font: 500 16px arial;
    color: #000;
    text-transform: capitalize;
    min-width: 210px;
    padding: 12px 20px;
    transition: .4s;
}
.dropdown-content a:hover{
    background-color: #eee;
    color: #000;
}
.dropdown:hover .dropdown-content{
    opacity: 1;
    pointer-events: auto;
}
.up{
    position: absolute;
    right: 60px;
    bottom: 60px;
}
.up i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #404873;
    position: fixed;
    z-index: 1;
    transition: .4s;
}
.up i:hover{
    background-color: #3ee792;
}
.header-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
    height: 100vh;
}
h1{
    font: 600 42px arial;
    color: #fff;
    line-height: 1.3;
}
.header-title p{
    font: 500 16px arial;
    color: #fff;
    padding: 30px 0 50px 0;
    line-height: 1.6em;
}
.header-form, .footer-view{
    display: flex;
}
.input-view{
    width: 375px;
    height: 60px;
}
.input-view input{
    font: 500 16px arial;
    color: #333;
    border: 0;
    padding: 0 25px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.input-view ::placeholder{
    color: #333;
    text-transform: capitalize;
}
.icon-view{
    width: 80px;
    height: 60px;
}
.icon-view i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    background-color: #31dc89;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .4s;
}
.icon-view i:hover, .link a:hover, form a:hover, .link-3 a:hover{
    color: #fff;
    background-color: #171932;
}

/* MAIN */
main{
    position: relative;
}
.space{
    height: 547px;
}
.view{
    position: absolute;
    top: -100px;
    width: 100%;
}
/* POSITION CONTENT 1 */
#all{
    background-color: #fff;
    box-shadow: 0 9px 9px 0 #c7c7c7;
    margin-bottom: 100px;
}
.content{
    padding: 60px 45px 50px 45px;
    width: 350px;
}
.content i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #31dc89;
    background-color: #d3ffea;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
h2{
    font: 600 20px arial;
    color: #2e2e43;
    padding: 40px 0 20px 0;
    letter-spacing: 1px;
}
.content p, .title p, .small-text, .text-2 p, .small-text-1, .section p, .section p a, .section-1 p, .text-4 p{
    font: 500 14px arial;
    color: #747B8C;
    line-height: 1.6em;
}
#tablet{
    display: none;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h3{
    font: 700 30px arial;
    color: #2e2e43;
    padding-bottom: 15px;
}
.title p{
    width: 660px;
}
.bg{
    background: linear-gradient(50deg, #000000aa,#080707aa),
    url("../../img/Bg22.jpg")center/cover;
    margin-bottom: 100px;
    padding: 100px 0;
}
/* CONTAINER */
.text{
    width: 250px;
    text-align: center;
}
.text h4{
    font: 700 60px arial;
    color: #fff;
}
.text p{
    font: 500 14px arial;
    color: #fff;
}
/* SECTION */
.title-1{
    padding-bottom: 70px;
    text-align: center;
}
.title-1 h4{
    font: 600 36px arial;
    color: #2e2e43;
}
#all-2{
    padding: 0 15px 120px 15px;
}
.all{
    width: 32%;
    box-shadow: 0 7px 7px #c7c7c7;
    border-radius: 10px;
}
.img, .img-1{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img img, .img-1 img, .img-2 img{
    display: block;
    width: 100%;
}
.all h4, .all-1 h4, .section-1 h4{
    font: 700 18px arial;
    color: #2e2e43;
}
.text-1, .text-3{
    padding: 30px;
}
.small-text{
    padding: 15px 0 20px 0;
    width: 350px;
}
.link a{
    display: inline-block;
    font: 500 14px arial;
    color: #0be27a;
    background-color: #d3ffea;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
}
.link p{
    font: 700 22px arial;
    color: #0be27a;
}
/* CONTAINER */
#all-3{
    padding-bottom: 100px;
}
.text-2{
    width: 400px;
}
.text-2 h4{
    font: 700 24px arial;
    color: #2e2e43;
    padding-bottom: 30px;
    line-height: 1.3;
}
.bg-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../img/Photo\ \(58\).jpg")center/cover;
    width: 550px;
    height: 340px;
}
.bg-1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 28px;
    color: #3ee792;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
}
.bg-1 i:hover{
    color: #fff;
    background-color: #3ee792;
    box-shadow: 0 0 10px 10px #ffffff;
}
.bg-color{
    background-color: #f8faff;
    margin-bottom: 100px;
    padding: 100px 0;
}
/* CONTAINER */
.all-1{
    width: 480px;
}
.icon{
    font: 700 40px "fontawesome";
    color: #3ee792;
    opacity: .5;
}
.profile-img{
    padding: 20px 0 30px 0;
}
.profile-img img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.all-1 a{
    font: 500 14px arial;
    color: #2E2E43;
    transition: .4s;
}
.all-1 a:hover{
    color: #03e26c;
}
/* CONTAINER */
.section{
    width: 360px;
    box-shadow: 0 7px 7px #c7c7c7;
    border-radius: 10px;
}
.img-1 img{
    transition: .4s;
}
.section:hover img{
    transform: scale(1.3) rotate(10deg);
    opacity: .5;
}
.text-3 a{
    transition: .4s;
}
.link-1{
    display: inline-block;
    font: 500 20px arial;
    color: #2e2e43;
    margin-bottom: 25px;
}
.text-3 a:hover{
    color: #03e26c;
}
.link-2{
    margin-right: 15px;
}
/* CONTAINER */
.view-1{
    padding-bottom: 50px;
}
#all-4{
    padding-bottom: 50px;
}
.section-1{
    width: 360px;
}
.section-1 h4{
    padding-bottom: 20px;
}
.section-1 p{
    width: 310px;
}
/* SECTION */
.view-2{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
iframe{
    padding-right: 50px;
}
#form{
    width: 410px;
}
#form h5{
    font: 700 28px arial;
    color: #2e2e43;
    padding-bottom: 50px;
}
.form-1{
    display: flex;
    justify-content: space-between;
}
form input, form textarea{
    font: 500 14px arial;
    color: #555;
    padding: 15px 10px;
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0 0 0 1px #cacfda;
}
form ::placeholder{
    color: #555;
    text-transform: capitalize;
}
form input:focus, form textarea:focus{
    box-shadow: 0 0 0 1px #3ee792;
}
.input-view-1{
    margin-bottom: 30px;
    width: 190px;
    height: 50px;
}
.form-2{
    margin-bottom: 30px;
    height: 50px;
}
.form-3{
    margin-bottom: 30px;
    height: 110px;
}
form a{
    display: inline-block;
    font: 500 14px arial;
    color: #fff;
    background-color: #3ee792;
    text-transform: capitalize;
    padding: 13px 20px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: .4s;
}
.bg-color-1{
    background-color: #f8faff;
    padding: 50px 0;
}
/* CONTAINER */
.text-4{
    width: 460px;
}
.text-4 h5{
    font: 700 24px arial;
    color: #2e2e43;
    padding-bottom: 15px;
}
.link-3 a{
    display: inline-block;
    font: 600 14px arial;
    color: #fff;
    background-color: #31dc89;
    text-transform: capitalize;
    padding: 17px 40px;
    border-radius: 30px;
    transition: .4s;
}

/* FOOTER */
footer{
    background-color: #171932;
    padding-top: 80px;
}
#all-5{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.footer-section, .footer-text{
    width: 445px;
}
.footer-section a{
    display: inline-block;
    margin-bottom: 30px;
}
.footer-section p, .footer-link a, .footer-text p, .footer-bg-color p, .footer-bg-color a{
    font: 500 14px arial;
    color: #fff;
}
.footer-link a{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: .4s;
}
.footer-link a:hover{
    color: #31dc89;
}
.footer-text h6{
    font: 700 24px arial;
    color: #fff;
}
.footer-text p{
    padding: 30px 0 50px 0;
}
.input-view-2{
    width: 365px;
    height: 50px;
}
.input-view-2 input{
    font: 500 20px arial;
    color: #000;
    border: 0;
    padding: 0 15px 0 30px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.input-view-2 ::placeholder{
    color: #000;
}
.icon-view-1{
    width: 80px;
    height: 50px;
}
.icon-view-1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #171932;
    background-color: #D3FFEA;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .4s;
}
.icon-view-1 i:hover{
    color: #fff;
    background-color: #31dc89;
}
.footer-bg-color{
    background-color: #2e2e43;
    padding: 30px 0;
    text-align: center;
}

@media(min-width: 768px) and (max-width: 1200px){
    header, .header-title{height: 95vh;}
    .container{width: 90%;}
    .dropdown{display: block;}
    .space{height: auto;}
    .view{position: static;}
    #all, #all-1, #all-2, #all-3, #all-4{flex-wrap: wrap;}
    #all{margin: 80px 0;}
    #all-2{padding: 0 15px 40px 15px;}
    #all-3{padding-bottom: 40px;}
    .header-title{text-align: center;}
    .header-form{justify-content: center;}
    .input-view, .content, .text-4, .text{width: 50%;}
    #tablet{display: block;}
    .title{padding-bottom: 80px;}
    .title p{width: 85%;}
    .bg{padding: 80px 0 50px 0; margin-bottom: 80px;}
    .text{padding-bottom: 30px;}
    .text h4{padding-bottom: 30px;}
    .all, .section, .bg-1{margin-bottom: 40px;}
    .header-title, .small-text, .form-2, .input-view-1, .input-view-2, .section-1, .section-1 p, iframe, #form{width: 100%;}
    .text-2, .all-1, .all, .section, .bg-1, #all-4{width: 48%;}
    .bg-color{padding: 80px 0; margin-bottom: 80px;}
    .view-1{display: flex; justify-content: space-between; padding-bottom: 30px;}
    #all-4, .view-2, .form-1{flex-direction: column;}
    .section-1{margin-bottom: 50px;}
    .view-2, .form-1, iframe, #all-4{padding: 0;}
    #form{padding: 50px;}
    .img-2{width: 30%; padding-bottom: 40px;}
    .footer-section, .footer-text{width: 40%;}
    nav{display: none;}
}
@media(max-width: 768px){
    header, .header-title{height: 60vh;}
    .container{width: 95%;}
    .dropdown{display: block;}
    .space{height: auto;}
    .view{position: static;}
    #all, #all-1, #all-2, #all-3, #all-4, .view-2, #all-5, .form-1{flex-direction: column;}
    #all{align-items: start; margin: 50px 0;}
    #all-1, #all-2, #all-3{gap: 30px;}
    #all-2{padding: 0 15px 50px 15px;}
    #all-4{gap: 50px;}
    .header-title, .text-4, #all-5{text-align: center;}
    .bg, .bg-color{padding: 50px 0; margin-bottom: 50px;}
    .content{padding: 30px;}
    .title, #all-3, .view-2, .footer-section p, .title-1{padding-bottom: 50px;}
    .text-2{padding-bottom: 20px;}
    h1, .title-1 h4{font-size: 32px;}
    .header-title, .text-4, #all-5, .content, .input-view, .small-text, .text-2, .section-1 p, iframe, #form, .input-view-2, .bg-1, .title p, .section, .section-1, .all, .all-1, .text, .footer-section, .footer-text, .input-view-1{width: 100%;}
    h3, .text-2 h4, .text-4 h5{font-size: 20px;}
    .text h4{font-size: 26px; padding-bottom: 15px;}
    .view-1, iframe{padding: 0;}
    #form{padding: 40px 15px 0 15px;}
    #form h5{font-size: 22px; padding-bottom: 30px;}
    .footer-link{padding-bottom: 35px;}
    .footer-text h6{font-size: 18px;}
    nav{display: none;}
}